@{
    var firstName = User.FindFirst("FirstName")?.Value;
    var fullName = User.FindFirst("FullName")?.Value;
    string userId = User.FindFirst("user_id")?.Value.ToString() ?? "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PattareyaTestResultProj</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PattareyaTestResultProj.styles.css" asp-append-version="true" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Font Awesome 6.5.1 : Latest Version -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- JQuery-UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <!-- Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Pattareya Test Result :)
                </a>

                <!-- Hamburger -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- Dropdown: Answer Pages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="answerDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Answer Pages
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="answerDropdown">

                                <li>
                                    <a class="dropdown-item" asp-controller="Accounts" asp-action="Index">
                                        Answer IT 01-1: Mini User Management
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-controller="No2" asp-action="Index">
                                        Answer No3: Mini Approval Flow
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-controller="No3" asp-action="Index">
                                        Answer No4: Manage User Profile
                                    </a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="About">
                                        About This Project
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>

                <!-- Right side: Profile -->
                <div class="d-flex align-items-center">
                    <span class="text-light me-3 fw-bold">
                        @fullName
                    </span>

                    <!-- Profile Image-->
                    <li class="nav-item dropdown me-3" style="list-style:none;">
                        <input type="hidden" id="userId" value="@userId" />

                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            <div class="profile-circle">
                                @(firstName?.Substring(0, 1).ToUpper())
                            </div>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">

                            <li>
                                <a class="dropdown-item" asp-controller="Profile" asp-action="Edit">
                                    Edit Profile
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-controller="Login" asp-action="Logout">
                                    Logout
                                </a>
                            </li>

                        </ul>
                    </li>

                </div>
                

            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()


        </main>
    </div>

    <footer class="border-bottom footer text-muted">
        <div class="container">
            &copy; 2569 - Pattareya Nurltes's Test Result - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
