@{
    ViewData["Title"] = "About This Project";
}

<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Hello, my name is Pattareeya Nurltes, but you can call me Kwang.<br />
    I started this project on 4th March 2026 and continued working on it after my regular working hours.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Some days I was too tired from work to continue the test, which is why I completed this assignment later than expected.
    This project is created solely as part of an entrance examination. Thank you for your understanding and consideration.
</p>

<p>
    <ul>
        <li>Answer No.1 is in Dropdown menu bar.</li>
        <li>Answer No.2 is Register page.</li>
        <li>Answer No.3 is in Dropdown menu bar.</li>
        <li>Answer No.4 is Profile management </li>
        <li>Answer No.5 is in Dropdown menu bar.</li>
        <li>Answer No.6 is in Dropdown menu bar.</li>
        <li>Answer No.7 is in Dropdown menu bar.</li>
        <li>Answer No.8 is in Dropdown menu bar.</li>
        <li>Answer No.9 is in Dropdown menu bar.</li>
        <li>Answer No.10 is in Dropdown menu bar.</li>
    </ul>
</p>


<p class="text-danger">
    This project is created solely for examination and practice purposes. Please do not use this project as a prototype or attempt to use it to solicit work from customers.
</p>
